<?php
class OAAConfig
{
	// Set this to point to the Shindig server you are using.  The URL should be
	// such that $SHINDIG_BASE_URL/ifr and $SHINDIG_BASE_URL/metadata are valid.
	const SHINDIG_BASE_URL = 'http://sandbox.gmodules.com/gadgets/';

	// If the Shindig server specified above is running from the same domain
	// as the mashup code, then set this to 'true'.  This makes the mashup
	// code use subdomains when loading Google Gadgets, in order to provide
	// additional security.
	const IS_SHINDIG_LOCAL = false;

	// Set this to point to the Repository server you are using..
	const REPOSITORY_URL = 'http://macwayne.austin.ibm.com/OAA/repository/';
	
	// For debug purposes, you can disable putting widgets in subdomains
	const DEBUG_DISABLE_SUBDOMAINS = false;
}
?>